.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion p {
  padding: 5px 0px;
  margin: 0px;
}
img {
  height: 200px;
}

.content__image {
  scale: 0.8;
}

.accordion {
  padding: 20px;
}

.accordion label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: blue;
  border-top: 2px solid rgb(178, 176, 176);
  padding: 15px 0px;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  transition: color 0.35s;
}

.content__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accordion .content__image {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  line-height: 18px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  transition: 0.5s;
}

.accordion input {
  display: none;
}

.content__image:hover {
  cursor: pointer;
}
.accordion:hover label,
.accordion input:checked + label {
  color: black;
}

.accordion input:hover + label > .content__image,
.accordion .content__image:hover,
.accordion input:checked + label > .content__image {
  height: auto;
  color: #000;
  scale: 1;
  transition: 0.5s;
}

.accordion .accordion__content label:active {
  color: blue;
}

.accordion__content .fa-times {
  display: none;
}

.accordion__content:hover .fa-times {
  display: block;
}

.accordion__content:hover .fa-plus {
  display: none;
}

.accordion input:checked + label .fa-times {
  display: block;
}

.accordion input:checked + label .fa-plus {
  display: none;
}
