body {
  font-size: 18px;
}
p {
  font-size: 1rem;
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
}

.accordion p {
  padding: 0.4rem 0rem;
  margin: 0rem;
}
img {
  height: 15rem;
  max-width: calc(100vw - 2rem);
}

.content__image {
  scale: 0.8;
}

.accordion {
  padding: 1rem;
  width: 100%;
}

.accordion label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: blue;
  border-top: 2px solid rgb(178, 176, 176);
  padding: 1rem 0rem;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  transition: color 0.35s;
}

.content__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accordion .content__image {
  text-align: center;
  margin: 0 auto;
  height: 0;
  line-height: 1rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
  transition: 0.5s;
}

.accordion input {
  display: none;
}

.accordion input:checked + label {
  color: black;
}

.accordion input:checked + label > .content__image {
  height: auto;
  color: #000;
  scale: 1;
  transition: 0.5s;
}

.accordion .accordion__content label:active {
  color: blue;
}

.accordion__content .fa-times {
  display: none;
}

.accordion input:checked + label .fa-times {
  display: block;
}

.accordion input:checked + label .fa-plus {
  display: none;
}

@media (hover: hover) {
  .accordion__content:hover .fa-times {
    display: block;
  }

  .accordion__content:hover .fa-plus {
    display: none;
  }
  .accordion input:hover + label > .content__image,
  .accordion .content__image:hover {
    height: auto;
    color: #000;
    scale: 1;
    transition: 0.5s;
  }
  .content__image:hover {
    cursor: pointer;
  }
  .accordion:hover label {
    color: black;
  }
}

@media screen and (max-width: 820px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .container {
    padding: 0.5rem;
  }
  .accordion .content__image {
    padding: 0rem;
  }
}
